{% load staticfiles %}
<!DOCTYPE HTML>
<html>
	<head>
		<title>Riders Fly Arena</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="{% static "js/jquery.min.js" %}"></script>
		<script src="{% static "js/jquery.dropotron.min.js" %}"></script>
		<script src="{% static "js/skel.min.js" %}"></script>
		<script src="{% static "js/skel-layers.min.js" %}"></script>
		<script src="{% static "js/init.js" %}"></script>
		<noscript>
			<link rel="stylesheet" href="{% static "css/skel.css" %}" />
			<link rel="stylesheet" href="{% static "css/style.css" %}" />
			<link rel="stylesheet" href="{% static "css/style-desktop.css" %}" />
		</noscript>
		<!--[if lte IE 8]><link rel="{% static "stylesheet" href="css/ie/v8.css" %}" /><![endif]-->
		<!--[if lte IE 9]><link rel="{% static "stylesheet" href="css/ie/v9.css" %}" /><![endif]-->
	</head>
	<body class="no-sidebar">

		<!-- Header Wrapper -->
			<div id="header-wrapper">
				<div class="container">

					<!-- Header -->
						<header id="header">
							<div class="inner">

								<!-- Logo -->
									<h1><a href="/" id="logo">Riders Fly Arena</a></h1>

								<!-- Nav -->
								<nav id="nav">
									<ul>
										<li><a href="/">Inicio</a></li>
										<li><a href="/eventos/">Eventos</a></li>
										<li>
											<a>Riders</a>
											<ul>
												<li><a href="/riders/fmx/">FMX</a></li>
												<li><a href="/riders/bmx/">BMX</a></li>
											</ul>
										</li>
										<li class="current_page_item" ><a href="/contacto/">Contacto</a></li>
									</ul>
								</nav>

							</div>
						</header>

				</div>
			</div>

		<!-- Main Wrapper -->
			<div id="main-wrapper">
				<div class="wrapper style1">
					<div class="inner">

						<!-- Feature 1 -->
							<section class="container box feature1">
								<div class="row">
									<div class="12u">
										<header class="first major">
											<h2>Contacta con nosotros</h2>
										</header>
									</div>
								</div>
								<div class="row">
									{% for contact in contacts %}
									<div class="4u">
										<section class="contact">
										   <header class="second icon fa-bullhorn">
							  			   <h3>{{ contact.name }}</h3>
								  		   <p><a href="{{ contact.data }}">{{ contact.data }}</a></p>
											 </header>
										</section>
									</div>
                  {% empty %}
                    <div>No hay datos todavía</div>
									{% endfor %}
								</div>

					</div>
				</div>
			</div>

      <!-- Footer Wrapper -->
  			<div id="footer-wrapper">
  				<footer id="footer" class="container">
  					<div class="row">
  						<div class="3u">

  							<!-- Links -->
  								<section>
  									<h2>Links de interés</h2>
  									<ul class="divided">
  										{% for link in links %}
  										<li><a href="{{ link.link }}">{{ link.title }}FEO</a></li>
  										{% endfor %}
  									</ul>
  								</section>

  						</div>

  						<div class="6u">

  							<!-- About -->
  								<section>
  									<h2><strong>Riders Fly Arena</strong></h2>
  									<p>Hola, somos <strong>Riders Fly Arena</strong>, organizadores de los mejores eventos de Freestyle de la peninsula.
  									Contamos con los mejores Riders del panorama nacional. Si buscas espectaculo, somos lo que estás buscando.</p>
  									<a href="/contacto/" class="button alt icon fa-arrow-circle-right">Contacto</a>
  								</section>

  							<!-- Contact -->
  								<section>
  									<h2>Ponte en contacto</h2>
  									<div>
  										<div class="row">
  											<div class="6u">
  												<dl class="contact">
  													{% for contact in contacts %}
  													<dt>{{ contact.name }}</dt>
  													<dd><a href="{{ contact.data }}">{{ contact.data }}</a></dd>
  													{% endfor %}
  												</dl>
  											</div>
  										</div>
  									</div>
  								</section>

  						</div>
  					</div>
  					<div class="row">
  						<div class="12u">
  							<div id="copyright">
  								<ul class="menu">
  									<li>Developed by: <a href="http://worllhmar.info">@Worllhmar</a></li>
  								</ul>
  							</div>
  						</div>
  					</div>
  				</footer>
  			</div>

				<script>
	  			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	  			ga('create', 'UA-65292867-1', 'auto');
	  			ga('send', 'pageview');

				</script>

  	</body>
  </html>
